

<form method="post" asp-action="AddOrder">

    <input class="form-control" name="Name" id="id" placeholder="Name" />
    <input class="form-control" name="Addrss" id="Addrss" placeholder="Addrss" />
    <input class="form-control" name="Email" id="Email" placeholder="Email" />
    <input class="form-control" name="Mobile" id="Mobile" placeholder="Mobile" />

    <center>

        <input type="submit" class="btn btn-outline-danger" style="margin-bottom:5px" value="إكمال الطلب" onclick="alert('تم حفظ السلة الخاصة بك بنجاح')" />

    </center>

</form>